body {
    font-family: "Roboto";
}

/*Section 1 Content Styling*/

.header-list-left, .header-list-right {
    list-style: none;
}

.header-list-left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

}

.header-link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section-one {
    background-color: #1F2937;
}

.content-text > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.content-text > p {
    font-size: 18px;
    color: #E5E7EB;
}

.content-text > button {
    font-size: 18px;
    font-weight: bold;
    padding: 7px 31px;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    background: #339DFF;
}

.content-image {
    width: 555px;
    height: 250px;
    background-color: #757980;
    color: #F9FAF8;
    display: flex;
}

.content-image > p {
    margin: auto;
    text-align: center;
}

/*Section 1 Content Arrangement*/

.section-one {
    display: flex;
    flex-direction: column;
    padding: 10px 350px 150px;
}

.header-bar {
    display: flex;
    padding: 0px;
    margin: 10px 0px 80px;
    justify-content: center;
    align-items: flex-start;
    /* border: 5px solid white; */
}

.header-list-left {
    margin-right: auto;
}

.header-list-right {
    margin-left: 20px;
}

.content {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.content-text {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
}

.content-text > * {
    margin: 0;
}

.content-text > button {
    margin-top: auto;
}





/* Section 2 */

.section-two {
    padding: 45px 150px; /* 45px to be changed later on */
    /* When changed, make sure top n bottom have right amount of spacing as picture */
}

.two-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-bottom: 55px;
}

.two-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.two-item-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.two-box {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.two-text {
    width: 160px;
    color: #58585a;
    font-size: 17px;
}





/* Section 3 */

.section-three {
    background-color: #E5E7EB;
    padding: 125px 518px;
}

.three-container {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end ;
    margin: 0;
    padding: 0;
    /* align-items: center; */
}

.three-quote {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin: 0;
    padding: 0;
}

.three-author {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 24px;
    margin-left: auto;
    margin-right: 10px;
}





/* Section Four */
.section-four {
    padding: 125px 300px;
}

.four-container {
    background-color: #3882F6;
    padding: 50px 120px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
}

.four-title {
    padding: 0;
    margin: 0;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 800;
}

.four-text {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #E5E7EB;
}

.four-right {
    padding: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.four-signup {
    background: transparent;
    border: 2px solid white;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 10px 35px;
    border-radius: 8px;
}





/* Section 5 or Footer */
.section-five {
    margin: 0;
    background-color: #1F2937;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
}