body {
    font-family: "Roboto";
}

/*Section 1 Content Styling*/

.header-list-left, .header-list-right {
    list-style: none;
}

.header-list-left {
    font-size: 24px;
    color: #F9FAF8;

}

.header-list-right {
    font-size: 18px;
    color: #E5E7EB;
}

.section-one {
    background-color: #1F2937;
}

.content-text > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.content-text > p {
    font-size: 18px;
    color: #E5E7EB;
}

.content-text > button {
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    background: #339DFF;
}

.content-image {
    width: 600px;
    height: 250px;
    background-color: gray;
    color: #F9FAF8;
    display: flex;
}

/*Section 1 Content Arrangement*/

.section-one {
    display: flex;
    flex-direction: column;
    padding: 10px 200px 100px;
}

.header-bar {
    display: flex;
    padding: 0px;
    margin: 0px 0px 50px;
    justify-content: center;
    align-items: center;
}

.header-list-left {
    margin-right: auto;
}

.header-list-right {
    margin-left: 20px;
}